

<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/listadoDeTurnos.css">
</head>
<body>
    <main>
        <section class="botones">
            <article>
                <div>
                    <input id = botonGenerarTurno class="button botones" type="button" value="Generar Turno">
                </div> 
            </article>

            <article>
                <div class="proximoTurno">
                    <input class="botonProximoTurno" href="" type="submit" value="Proximo Turno">
                </div>
            </article>
        </section>
        <script src = "/javascript/listadoDeTurnos.js">
        </script>
    </main>
</body>
</html>