<!DOCTYPE html>
<html lang="en">
    
<head>
    <%-include('./partials/header') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
    <body>
        <main>
            <div class="Inicio">
                <h3>Iniciar sesión</h3>
            </div>
    
            <form action="" method="">
                <div>
                    <input class="Usuario" type="text" name="user" placeholder="Nombre de Usuario">
                    <input class="Usuario" type="password" name="pass" placeholder="Elegí tu contraseña">
                </div>
                <div id = "GrabarPassword">
                    <input type="radio" name="profile">
                    <label for="buy">Recuérdame</label>
                </div>
                <input class="botonRegistro" href="" type="submit" value="Registrarme">
                <input class="botonpassword" href=" " type="submit" value="¿Olvidaste tu contraseña?">
            </form>
        </main>
    
    </body>
</html>