body{
font-family: 'Libre Baskerville',serif;
}
main{
    flex-direction: column;
    align-items: center;
}
.table {
    font-size: 15px;
    width: 100%;
}
main table  .total {
    width: 50%;
    height: 100px;
    font-size: 15px;
    text-align: center;
    position: relative;
    left: 200px;
}
main table  .form{
    width: 20%;
    height: 30px;
    font-size: 30;
    text-align: left;
    
}

main div{
    display: flex;
    align-self: baseline;
    flex-direction: column;
    position: relative;
}
input {
    width: 35%;
    border: 0;
    border-bottom: 2px solid #010203;
    opacity: 50%;
}
th{
    font-size: 15px;
}

#metodoDeEnvio{
    position: absolute;
    top: 37vw;
    left: 35vw;
}

#lugaresDeEnvio{
    position: absolute;
    top: 49vw;
    left: 35vw;
}
#formaDePago{
    align-self: center;
    /* top: 80vw;
    left: 50vw;
    margin: auto; */
    width: 100%;
   
}

.Controles{
    width: 80%;
    border-radius: 4px;
    margin-bottom: 14px;
    border:1px solid black;
    font-size: 13px;
}
.botones{
    width: 30%;
    letter-spacing: 3px;
    background-color:#2151c0;
    color: white;
    cursor: pointer;
    line-height: 50px;
}

h2{
    width: 80%;
    font-size: 14x;
    border-bottom: black solid 1px;
}


@media (max-width: 480px){
  
main div{
    position: static;

}
#metodoDeEnvio{
    position: static; 

}

#lugaresDeEnvio{
    position: static; 
}
  
#formaDePago{
    position: static; 
} 

}

