@import url(normalize.css); 

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    width: 100vw;
}

.divSuperiorHead{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50%;
}

.buscadores{
    font-size: 20px;
    padding: 10px;
}

#carrito{
    color: white;
}

#barrita{
    color: white;
}

#lupa{
    color: white;
}

main{
    width: 100%;
    display: block;
}
.bannerShop{
    position: relative;
}

.fotoBanner{
    width: 100%;
}

.botonShop{
    border: 1px solid #000000; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #000000; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    position: absolute;
    left: 40%;
    bottom: 10%
}
.tituloCategoria{
    text-align: center;
    font-size: 25px;
}  

.bannerCategorias{
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-around;
}

.left{
    order: -1;
    font-size: 20px;
}

.right{
    font-size: 20px;
}

.imagenCategoria{
    padding: 20px;
    width: 50%;
}

.tituloProductosDestacados{
    text-align: center;
    font-size: 25px;
}

.bannerProductosDestacados{
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-around;
}

.imagenProductoDestacado{
    width: 40%;
    padding: 20px;
}

