main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
    main img{
        width: 60%;
    }
    main #botonesUno{
        width: 100%;
        text-align: center;
        margin: 5% 2%;
    }
    main form{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
        main form input{
            margin-bottom: 5%;
        }
        main form #botoneDos{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }