main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table {
    width: 50%;
    height: 100px;
    font-size: 30px;
    text-align: center;
}
main table  .total {
    width: 50%;
    height: 100px;
    font-size: 30px;
    text-align: center;
}
main table  .form{
    width: 20%;
    height: 30px;
    font-size: 30;
    text-align: left;
}

main div{
    display: flex;
    align-self: baseline;
    flex-direction: column;
    position: relative;
}

#metodoDeEnvio{
    position: absolute;
    top: 34vw;
    left: 30vw;
}

#lugaresDeEnvio{
    position: absolute;
    top: 40vw;
    left: 30vw;
}
#formaDePago{
    align-self: center;
    position: relative;
}