@import url(./styles.css); 
main{
    margin-bottom: 5%;
}
.Opciones{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 5%;
    margin-top: 1%;
}
    .Opciones select{
        position: absolute;
        bottom: 1%;
        right: 30%;
        background-color: var(--rojo);
        color: var(--blanco);
        font-size: 80%;
        padding: 0;
        letter-spacing: 0; 
    }
    .MainProductos{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        
    }
    .productoDestacado{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        max-width: 200px;
    }
    
        .productoDestacado h3{
            font-size: 17px;
            margin-left:10px;
            margin-top: 5px;
            margin-bottom: 2px;
        }
        
        .productoDestacado h4{
            font-size: 15px;
            margin-left:10px;
            margin-bottom:5px
        }


        

@media(min-width:480px){
    .MainProductos{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30%  ,1fr));
    }
        .productoDestacado{
            width: 90%;
            

        }
}
@media(min-width:1080px){
    .Opciones select{
        width: 20%;
        height: 10%;
        right: 35%;
        font-size: 120%;
    }

    .MainProductos{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30%  ,1fr));
    }
        .productoDestacado{
            width: 90%;
        }

        .MainProductos  section:hover{
            box-shadow: 0px 0px 100px var(--rojo);
        }
        
            .MainProductos  section div a{
                right: 8%;
                bottom: 12%;
            }
            .MainProductos  section div h2{
                font-size: 80%;
            }
            .MainProductos  section div p{
                font-size: 90%;
            }
}
