@import url(../colors/colors.css); 

img{
    width: 100%;
    height: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    height: auto;
    background: var(--negro);
    position: relative; 
}

/* MENU CEL*/
.menu-productos{
    width: 10%;
}
.menu-productos .menu-productos-expand ul{
    display: none;
}

.menu-productos:hover  .menu-productos-expand ul{
    display: block; 
    color: var(--blanco);
    padding: 5px;
    background-color: var(--negro);
    position: absolute;
}

.menu-productos:hover  .menu-productos-expand ul li a{
    font-size: 30px;
    line-height: 40px;
    font-family: 'League Spartan', sans-serif;
    padding: 0%;
}
.menu-productos i{
    padding: 10px;
    font-size: 10vw;
    text-align: center;
    color: var(--blanco)
}
.menu-productos:hover  .menu-productos-expand ul{
    display: block; 
    color: var(--blanco);
    padding: 5px;
    background-color: var(--negro);
    position: absolute;
}

/* LOGO */
header{
    max-width: 100vw;
}
header #icon-cel{
    width: 60%;
}

header #icon-cel img{
    width: 100%;
    position: relative;
    left: 20%;
}

#icon-destok{
    display: none;
}

/* MENU PERSONAL*/
.personal{
    width: 30%;
}
.personal i{
    font-size: 7vw;
    text-align: center;
    color: var(--blanco);
    margin: 5px;
    position: relative;
    left: 20%;
}

@media(min-width: 768px){
    .personal{
        position: relative;
        
    }

    header #icon-header{
        width: 50vw;
        position: relative;
        right: 5vw;
    }
}
@media(min-width: 1080px){

    header{
        max-width: 100vw;
    }
    .menu-productos .menu-productos-expand ul{
        display: flex;
        color: var(--blanco);
        padding: 5px;
        background-color: var(--negro);
        list-style: none;
        position: relative;
        right: 18vw;
    }

    .menu-productos:hover .menu-productos-expand ul{
        display: flex;
        color: var(--blanco);
        padding: 5px;
        background-color: var(--negro);
        list-style: none;
        position: relative;
        right: 18vw;
    }

    .menu-productos .menu-productos-expand ul li{
        margin: 10%;
    }

    .menu-productos:hover  .menu-productos-expand ul li a{
        font-size: 3vw;
        line-height: 40px;
        font-family: 'League Spartan', sans-serif;
        padding: 0%;
    }
    .menu-productos .menu-productos-expand ul li a{
        font-size: 3vw;
        line-height: 40px;
        font-family: 'League Spartan', sans-serif;
        padding: 0%;
    }
    
    .menu-productos i{
        display: none;
    }
    
    header #icon-header{
        order: -1;
        width: 20%;
        right: -3vw;
       
    }
    #icon-cel{
        display: none;
    }
    header #icon-destok{
        display: block;
        width: 30%;
    }
    #icon-destok{
        width: 100%;
    }
    .personal {
       width: 13%;
    }
    .personal i{
        font-size: 4vw;
        text-align: end;
    }

}