:root{
    --negro:#010203;
    --fondo:#FFFFFF;
    --azul-oscuro:#0d3a66;
    --azul-claro: #074df0;
    --blanco:#FFFFFF;
    --rojo:#880200;
    --tipografia--Titulos:;
    --tipografias--subtitulos:;
    --tipografias--nombreProducto:;
    --tipografias--botones:;
    --tipografias--texto:;
    --tipografias--navegadore:;
}