<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Accesorios</title>
    <!-- tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Libre+Baskerville:ital@1&family=Oswald:wght@200&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- estiulos propios-->
    <link rel="stylesheet" href="css/styleFooter.css">
    <link rel="stylesheet" href="css/styleHeader.css">
    <link rel="stylesheet" href="css/styleNuevoProducto.css">

</head>
<body>
    <header>
        <nav class = "menu-productos"> 
            <i class="fa-solid fa-bars"></i>
            <div class="menu-productos-expand">
                <ul>
                    <li><a> relojes </a></li>
                    <li><a> pulseras </a></li>
                    <li><a> billeteras </a></li>
                    <li><a> otros </a></li>
                </ul> 
            </div>
        </nav>
        <div id = "icon-header">
            <a href = "/"id = "icon-cel" > <img src = "img/Human.png" name= "logo"> </a>
            <a href = "/" id = "icon-destok"> <img src = "img/logo.jpg" name= "logo"> </a>
        </div>
        
        <div class = "personal">
            <nav> 
               <a href="/login"><i class="fa-solid fa-user"></i></a>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> </a>
            </nav>
        </div>
        
    </header>
    <main>
            <div>
                <h2> Nuevo Producto </h2>
                <form action="/" method="POST">
                
                    <label for="Nombre">Título Producto: </label>
                    <input class="Controles" type="text" name="Nombre" id="Nombre">

                    <select  class="Productos" name="menu">
                        <option> Relojes </option>
                        <option value="2">Pulseras</option>
                        <option value="3">Lentes</option>
                    </select>

                    <label for="Imagen de producto">Imágen de Producto</label>
                    <input id = "imagen" type="file" name="Adjuntar Imagen" accept=".pdf,.jpg,.png" multiple /> 

                    <label for="Marca">Marca: </label>
                    <input class="Controles" type="text" name="Marca">

                    <label for="Modelo">Modelo: </label>
                    <input class="Controles" type="text" name="Modelo">

                    <label for="Descripcion">Descripción: </label>
                    <input class="Controles" type="text" name="Descripcion">

                    <label for="Precio">Precio</label> 
                    <input class="Controles"  type="number" name="Precio">

                    <label for="Cantidad">Cantidad</label> 
                    <input class="Controles"  type="number" name="Cantidad">
                    
                    <label for="Forma de Pago">Forma de Pago Aceptada </label> 
                    <input class="check"  type="checkbox" name="efectivo" value="Ef">Efectivo 
                    <input class="check"  type="checkbox" name="tarjetaD" value="TD">Tarjeta Débito
                    <input class="check"  type="checkbox" name="tarjetaC" value="TC">Tarjeta Crédito     

                </form>
            </div>

            <div id = botonesCarrito>
                <input class="botones" type="submit" value="Enviar">
                <input class="botones" type="submit" value="Cancelar">
            </div>  

    </main>
    <footer>
        <section id="infoEmpresaFoot">
            <h4>Human Accesorios</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo distinctio amet debitis, minus facere perspiciatis voluptates ipsam ab alias? Perspiciatis minus maiores repellat cum facere ut quaerat vero a!</p>
        </section>
        <section id="registrateFoot">
            <h5>Registrate para recibir diferentes veneficios</h5>
            <a href="/register"> REGISTRATE </a>
            <h5> Si ya tiene una cuenta ingresa</h5>
            <a href="/login">INGRESAR</a>
        </section>
        <section id="redesSocialesFoot">
            <h5>Unete a nuestras redes sociales para no perderte de ninguna novedad</h5>
                <div>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="instagram"> Intagram</a></div>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="">Facebook</a>
                </div>
                <div>
                    <i class="fa-brands fa-twitter"></i>
                    <a href="">Twitter</a>
                </div> 
        </section>

        <p> Copyright © 2021-2022 Human Accesorios </p>

    </footer>
    
</body>
</html>