<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Accesorios</title>
    <!-- tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Libre+Baskerville:ital@1&family=Oswald:wght@200&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- estiulos propios-->
    <link rel="stylesheet" href="css/styleFooter.css">
    <link rel="stylesheet" href="css/styleHeader.css">
    <link rel="stylesheet" href="css/styleCarrito.css">

</head>
<body>
    <header>
        <nav class = "menu-productos"> 
            <i class="fa-solid fa-bars"></i>
            <div class="menu-productos-expand">
                <ul>
                    <li><a> Relojes </a></li>
                    <li><a> Billeteras </a></li>
                    <li><a> Accesorios</a></li>
                    <li><a> Otros </a></li>
                </ul> 
            </div>
        </nav>
        <div id = "icon-header">
            <a href = "/"id = "icon-cel" > <img src = "img/Human.png" name= "logo"> </a>
            <a href = "/" id = "icon-destok"> <img src = "img/logo.jpg" name= "logo"> </a>
        </div>
        
        
        <nav class = "personal"> 
            <a href="/login"><i class="fa-solid fa-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> </a>
        </nav>    
        </div>
        
    </header>
    <main>
        <table class ="table">
            <thead>
                <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td> 
                        <img src="img/producto.png"> </td>
                        <td>1</td>
                        <td>$29.000</td>
                        <td>$29.000</td>
                    </tr>
                <tr>
                    <td>
                        <img src="img/producto.png"> </td>
                        <td>1</td>
                        <td>$19.000</td>
                        <td>$19.000</td>
                    </tr>
            </tbody>
        </table> 
        <p class = "total"> Precio Total: $xxxx </p>
        <div class = "formulario">

            <div id ="infocliente">
                <h2> Datos del Cliente </h2>
                <form action="/" method="POST">
                
                    <label for="Nombre">Nombre: </label>
                    <input class="Controles" type="text" name="Nombre" id="Nombre">
                    <br/> <br/>
                    <label  for="Apellido">Apellido: </label>
                    <input class="Controles" type="text" name="Apellido" id="Apellido">
                    <br/> <br/>
                    <label for="Email">Email: </label>
                    <input class="Controles" type="text" name="Email id="Email">
                    <br/> <br/>
                    <label for="Domicilio">Domicilio: </label>
                    <input class="Controles" type="text" name="Domicilio" id="Domicilio">
                    <br/> <br/>
                    <label for="Localidad">Localidad</label>
                    <input class="Controles" type="text" name="Localidad" id="Localidad">
                    <br/> <br/>
                    <label for="Codigo Postal">Codigo Postal </label>
                    <input class="Controles" type="text" name="Codigo Postal" id="Codigo Postal">
                    <br/> <br/>
                    <label for="Mobile">Mobile</label>
                    <input class="Controles" type="number" name="Mobile" id="Mobile">
                    <br/> <br/>
                </form>
            </div>

            <div id = "metodoDeEnvio">
                <h2>Metodo de envío</h2>
                <form  action="/" method="POST">
                    <div><input type="radio" name="hm" value="h"> <p> Mismo Domicilio </p> </div>
                    <div><input type="radio" name="hm" value="m"><p> Cambiar Domicilio Destino</p></div>
                    <div><input type="radio" name="hm" value="m"> <p> Buscar en Sucursal </p> </div>
                </form>
            </div>

            <div id = "lugaresDeEnvio">
                <h2>Lugar de envío</h2>
                <form  action="/" method="POST">
                    <label for="Nombre">Nombre: </label><br>
                    <input class="Controles" type="text" name="Nombre" id="Nombre">
                    <br/> <br/>
                    <label  for="Apellido">Apellido: </label> <br>
                    <input class="Controles" type="text" name="Apellido" id="Apellido">
                    <br/> <br/>
                    <label for="DNI">DNI: </label> <br>
                    <input  class="Controles" type="DNI" name="DNI" id="DNI"> 
                    <br/> <br/>
                    <label for="Horario">Horario: </label> <br>
                    <input  class="Controles" type="text" name="Horario" id="Horario">   
                    <br/> <br/>
                    <select   class="Controles" name="menu">
                    <option>  Sucursal : Direccion: XXXXX</option>
                    <option value="3">Sucursal : Direccion: XXXXX</option>
                    <option value="4">Sucursal : Direccion: XXXXX</option>
                    </select>
                </form>
            </div>

            <div id = "formaDePago">                 
                <h2>Forma de pago</h2>
                <form  action="/" method="POST">
                    <select  class="Controles" name="menu">
                        <option>Efectivo </option>
                        <option value="2">Credito Visa</option>
                        <option value="3">Debito Visa</option>
                        <option value="4">Credito MasterCard</option>
                        <option value="5">Debito MasterCard</option>
                        <option value="6">Credito Amex</option>
                        <option value="7">Debito Amex</option>
                    </select>
                    <br/> <br/>
                    <label for="Adjuntar Comprobante">Adjuntar Comprobante</label>
                    <input id = "comprobante" type="file" name="Adjuntar Comprobante" accept=".pdf,.jpg,.png" multiple />    
                    <br/> <br/>
                    <label for="Numero de la tarjeta">Numero de la tarjeta</label>
                    <input class="Controles" type="text" name="Numero de la tarjeta" id="Numero de la tarjeta">
                    <br/> <br/>
                    <label for="Fecha de vencimiento">Fecha de vencimiento</label>
                    <input  class="Controles" type="text" name="Fecha de venc" id="Fecha de venc">
                    <br/> <br/>
                    <label for="CVV">CVV</label> <br>
                    <input class="Controles"  type="text" name="CVV" id="CVV">
                    <br/> <br/>  
                    <div id = botonesCarrito>
                        <input class="botones" type="submit" value="Enviar">
                        <input class="botones" type="submit" value="Cancelar">
                    </div>  
                </form>
            </div>

        </div>
    </main>
    <footer>
        <section id="infoEmpresaFoot">
            <h4>Human Accesorios</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo distinctio amet debitis, minus facere perspiciatis voluptates ipsam ab alias? Perspiciatis minus maiores repellat cum facere ut quaerat vero a!</p>
        </section>
        <section id="registrateFoot">
            <h5>Registrate para recibir diferentes veneficios</h5>
            <a href="/register"> REGISTRATE </a>
            <h5> Si ya tiene una cuenta ingresa</h5>
            <a href="/login">INGRESAR</a>
        </section>
        <section id="redesSocialesFoot">
            <h5>Unete a nuestras redes sociales para no perderte de ninguna novedad</h5>
                <div>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="instagram"> Intagram</a></div>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="">Facebook</a>
                </div>
                <div>
                    <i class="fa-brands fa-twitter"></i>
                    <a href="">Twitter</a>
                </div> 
        </section>

        <p id = "copyright"> Copyright © 2021-2022 Human Accesorios </p>

    </footer>
    
</body>
</html>