<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Accesorios</title>
    <!-- tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Libre+Baskerville:ital@1&family=Oswald:wght@200&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- estiulos propios-->
    <link rel="stylesheet" href="css/styleFooter.css">
    <link rel="stylesheet" href="css/styleHeader.css">
    <link rel="stylesheet" href="css/styleCarrito.css">

</head>
<body>
    <header>
        
        <div id = "icon-header">
            <a href = "/"id = "icon-cel" > <img src = "img/Human.png" name= "logo"> </a>
            <a href = "/" id = "icon-destok"> <img src = "img/logo.jpg" name= "logo"> </a>
        </div>
        
        
        <nav class = "personal"> 
            <a href="#"><img src="img/Lupa.png"></a>                 
            <a href="/carrito"><img src ="img/Tienda.png"></a>  
            <a id = "menuHamburguesa"><img src="img/Menu.png"></a>
            <a id = "usuario" href="/login"><img src = "img/Usuario.png"></a> 
            <nav class = "menu-productos-expand"> 
                <ul>
                    <li><a> Relojes </a></li>
                    <li><a> Billeteras </a></li>
                    <li><a> Accesorios</a></li>
                    <li><a> Otros </a></li>
                </ul> 
            </nav>                 
        </nav>    
        
        </div>
        
    </header>
    <main>
        <table class ="table">
            <thead>
                <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td class="imagenProducto"> <img src="img/producto.png"> </td>
                    <td class = "cantidadProducto">
                        <select name="cantidad"> 
                            <option value="1"> 1 </option>
                            <option value="2"> 2 </option>
                            <option value="3"> 3 </option>
                            <option value="4"> 4 </option>
                            <option value="5"> 5 </option>
                            <option value="6"> 6 </option>
                        </select> 
                        </td>
                    <td class = "precioProducto">$19.000</td>
                    <td class = "precioTotalProducto">$19.000</td>
                </tr>
                <tr>
                    <td class="imagenProducto"><img src="img/producto.png"> </td>
                    <td class = "cantidadProducto">
                        <select name="cantidad"> 
                            <option value="1"> 1 </option>
                            <option value="2"> 2 </option>
                            <option value="3"> 3 </option>
                            <option value="4"> 4 </option>
                            <option value="5"> 5 </option>
                            <option value="6"> 6 </option>
                        </select> 
                             
                    </td>
                    <td class = "precioProducto">$19.000</td>
                    <td class = "precioTotalProducto">$19.000</td>
                </tr>
            </tbody>
        </table> 
        <p class = "total"> Precio Total: $xxxx </p>
        <div class = "formulario">

            <div id ="infocliente">
                <h2> Datos del Cliente </h2>
                <form action="/" method="POST">
                
                    <label for="Nombre">Nombre: </label>
                    <input class="Controles" type="text" name="Nombre" id="Nombre">

                    <label  for="Apellido">Apellido: </label>
                    <input class="Controles" type="text" name="Apellido" id="Apellido">

                    <label for="Email">Email: </label>
                    <input class="Controles" type="text" name="Email id="Email">

                    <label for="Domicilio">Domicilio: </label>
                    <input class="Controles" type="text" name="Domicilio" id="Domicilio">

                    <label for="Localidad">Localidad</label>
                    <input class="Controles" type="text" name="Localidad" id="Localidad">

                    <label for="Codigo Postal">Codigo Postal </label>
                    <input class="Controles" type="text" name="Codigo Postal" id="Codigo Postal">

                    <label for="Mobile">Mobile</label>
                    <input class="Controles" type="number" name="Mobile" id="Mobile">

                </form>
            </div>

            <div id = "metodoDeEnvio">
                <h2>Metodo de envío</h2>
                <form  action="/" method="POST">
                    <div>
                        <input type="radio" name="hm" value="h">
                        <label for = "Domicilio"> Mismo Domicilio </label> 
                    </div>
                    <div>
                        <input type="radio" name="hm" value="m">
                        <label for ="camDomicilio"> Cambiar Domicilio Destino</label>
                    </div>
                    <div>
                        <input type="radio" name="hm" value="m">
                        <label> Buscar en Sucursal </label> 
                    </div>
                </form>
            </div>

            <div id = "lugaresDeEnvio">
                <h2>Lugar de envío</h2>
                <form  action="/" method="POST">
                    <label for="Nombre">Nombre: </label>
                    <input class="Controles" type="text" name="Nombre" id="Nombre">
                    
                    <label  for="Apellido">Apellido: </label> 
                    <input class="Controles" type="text" name="Apellido" id="Apellido">
                    
                    <label for="DNI">DNI: </label> 
                    <input  class="Controles" type="DNI" name="DNI" id="DNI"> 
                    
                    <label for="Horario">Horario: </label> 
                    <input  class="Controles" type="text" name="Horario" id="Horario">   
                    
                    <select   class="Controles" name="menu">
                    <option>  Sucursal : Direccion: XXXXX</option>
                    <option value="3">Sucursal : Direccion: XXXXX</option>
                    <option value="4">Sucursal : Direccion: XXXXX</option>
                    </select>
                </form>
            </div>

            <div id = "formaDePago">                 
                <h2>Forma de pago</h2>
                <form  action="/" method="POST">
                    <select  class="Controles" name="menu">
                        <option>Efectivo </option>
                        <option value="2">Credito Visa</option>
                        <option value="3">Debito Visa</option>
                        <option value="4">Credito MasterCard</option>
                        <option value="5">Debito MasterCard</option>
                        <option value="6">Credito Amex</option>
                        <option value="7">Debito Amex</option>
                    </select>
                    <label for="Adjuntar Comprobante">Adjuntar Comprobante</label>
                    <input id = "comprobante" type="file" name="Adjuntar Comprobante" accept=".pdf,.jpg,.png" multiple />    
                    <label for="Numero de la tarjeta">Numero de la tarjeta</label>
                    <input class="Controles" type="text" name="Numero de la tarjeta" id="Numero de la tarjeta">
                    <label for="Fecha de vencimiento">Fecha de vencimiento</label>
                    <input  class="Controles" type="text" name="Fecha de venc" id="Fecha de venc">
                    <label for="CVV">CVV</label>
                    <input class="Controles"  type="text" name="CVV" id="CVV">
                    <div id = botonesCarrito>
                        <input class="botones" type="submit" value="Enviar">
                        <input class="botones" type="submit" value="Cancelar">
                    </div>  
                </form>
            </div>

        </div>
    </main>
    <footer>
        <section id="infoEmpresaFoot" class = "footer">
            <h5>Human Accesorios</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo distinctio amet debitis, minus facere perspiciatis voluptates ipsam ab alias? Perspiciatis minus maiores repellat cum facere ut quaerat vero a!</p>
        </section>
        <section id="registrateFoot" class = "footer">
            <h5>Registrate para recibir diferentes veneficios</h5>
            <a href="/register"> REGISTRATE </a>
            <h5> Si ya tiene una cuenta ingresa</h5>
            <a href="/login">INGRESAR</a>
        </section>
        <section id="redesSocialesFoot" class = "footer">
            <h5>Unete a nuestras redes sociales para no perderte de ninguna novedad</h5>
                <div>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="instagram"> Intagram</a></div>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="">Facebook</a>
                </div>
                <div>
                    <i class="fa-brands fa-twitter"></i>
                    <a href="">Twitter</a>
                </div> 
        </section>

        <p id = "copyright"> Copyright © 2021-2022 Human Accesorios </p>

    </footer>
    
</body>
</html>