<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Accesorios</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div class="divSuperiorHead">
            <img class="logo" src="/images/Human Nombre.png" alt="logo">
            <div class="buscadores">
                <a href="#"><i id="lupa" class="fa-solid fa-magnifying-glass"></i></a>
                <a href="#"><i id="carrito" class="fa-solid fa-cart-shopping"></i></a>
                <a href="#"><i id="barrita" class="fa-solid fa-bars"></i></a>
            </div>
        </div>
    </header>
    <main>
        <section class="bannerShop">
            <img class="fotoBanner" src="/images/Foto de prueba copia.jpg">
            <a class="botonShop" href="#">Tienda</a>
        </section>
        <h2>Categorias</h2>
        <section class="bannerCategorias">
            <article class="categorias">
                <img class="imagenCategoria" src="/images/Abaco Black S.jpg">
                <h3>Relojes</h3>
                <p>Diseñado para usted</p>
            </article>
            <button class="left"><</button>
            <button class="right">></button>
        </section>
        <section class="bannerHistoria">
            <div>
                <h3>Nuestra Misión</h3>
                <p>We craft premium lifestyle accessories for those who never take shortcuts.</p>
                <a class="botonHistoria" href="#">Nuestra Historia</a>
            </div>
            <img class="fotoBannerHistoria" src="/images/Foto de prueba copia.jpg">
        </section>
        <h2 class="tituloProductosDestacados">Productos Destacados</h2>
        <section class="bannerProductosDestacados">
            <article class="productoDestacado">
                <img class="imagenProductoDestacado" src="/images/Onix S.jpg">
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado" id="producto2">
                <img class="imagenProductoDestacado" src="/images/Kairos Black S.jpg">
                <h4>Kairos</h4>
                <p>$1700</p>
            </article>
            <article class="productoDestacado productoPC">
                <img class="imagenProductoDestacado" src="/images/Kairos Black S.jpg">
                <h4>Onix</h4>
                <p>$1700</p>
            </article>
            <article class="productoDestacado productoPC">
                <img class="imagenProductoDestacado" src="/images/Kairos Black S.jpg">
                <h4>Onix</h4>
                <p>$1700</p>
            </article>
            <button class="left"><</button>
            <button class="right">></button>
        </section>
        <h2 class="ubicacion">Ubicaciones</h2>
        <section class="bannerUbicaciones">
            <article class="ubicaciones">
                <img class="ubicacionLocal" src="/images/Ubicacion Ramos Mejia.PNG">
                <div>
                    <h3>Ramos Mejia - Buenos Aires</h3>
                    <a href="https://goo.gl/maps/mA13fuFm8AaM12nNA">Av. Gral San Martin 1080</a>
                    <p>Horarios</p>
                    <p>Numero Telefono</p>
                </div>
            </article>
            <article class="ubicaciones">
                <img class="ubicacionLocal" src="/images/Ubicacion RioIV.PNG">
                <div>
                    <h3>Rio IV - Cordoba</h3>
                    <a href="https://goo.gl/maps/GdKM5PqhWSwwQE7m9">Av. Amadeo Sabattini 2043</a>
                    <p>Horarios</p>
                    <p>Numero Telefono</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
          <h4>Human Accesorios</h4>
          <p>blabla</p>
        </section>
    
        <strong> Copyright © 2021-2022 Human Accesorios </strong>
    
      </footer> 
</body>
</html>