<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" href="/css/styleHome.css">
</head>

<body>
    <%-include('./partials/header') %>
    <main>
        <section class="bannerShop">
            <img class="fotoBanner" src="/img/FotoDePruebaCopia.jpg">
            <a class="button botonShop" href="/product">Tienda</a>
        </section>
        <h2>Categorias</h2>
        <section class="bannerCategorias">
            <article class="categorias">
                <a href="/product"><img class="imagenCategoria"  src="/img/Abaco Black S.jpg"></a>
                <h3>Relojes</h3>
                <p>Diseñado para usted</p>
            </article>
            <article class="categorias" id = "segundaCategoria">
                <a href="/product"><img class="imagenCategoria"  src="/img/Abaco Black S.jpg"></a>
                <h3>Relojes</h3>
                <p>Diseñado para usted</p>
            </article>
            <button class="left">
                < </button>
                    <button class="right">></button>
        </section>
        <section class="bannerHistoria">
            <div>
                <h3>Nuestra Misión</h3>
                <p>We craft premium lifestyle accessories for those who never take shortcuts.</p>
            </div>
            <img class="fotoBannerHistoria" src="/img/banerHistoria.jpg">
        </section>
        <h2 class="tituloProductosDestacados">Productos Destacados</h2>
        <section class="bannerProductosDestacados">
            <article class="productoDestacado">
                <a href="/product/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado" id = "producto2">
                <a href="/product/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado" id="producto3">
                <a href="/product/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            
            <button class="left">
                < </button>
                    <button class="right">></button>
        </section>
        <h2 class="ubicacion">Ubicaciones</h2>
        <section class="bannerUbicaciones">
            <article class="ubicaciones">
                <img class="ubicacionLocal" src="/img/Ubicacion Ramos Mejia.PNG">
                <div>
                    <h3>Ramos Mejia - Buenos Aires</h3>
                    <a href="https://goo.gl/maps/mA13fuFm8AaM12nNA">Av. Gral San Martin 1080</a>
                    <p>Horarios</p>
                    <p>Numero Telefono</p>
                </div>
            </article>
            <article class="ubicaciones">
                <img class="ubicacionLocal" src="/img/Ubicacion RioIV.PNG">
                <div>
                    <h3>Rio IV - Cordoba</h3>
                    <a href="https://goo.gl/maps/GdKM5PqhWSwwQE7m9">Av. Amadeo Sabattini 2043</a>
                    <p>Horarios</p>
                    <p>Numero Telefono</p>
                </div>
            </article>
        </section>
    </main>
    <%-include('./partials/footer') %>
</body>

</html>