<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Accesorios</title>
    <!-- tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Libre+Baskerville:ital@1&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- estiulos propios-->
    <link rel="stylesheet" href="css/styleFooter.css">
    <link rel="stylesheet" href="css/styleHeader.css">
    <link rel="stylesheet" href="css/styleHome.css">

</head>

<body>
    <header>
        
        <div id = "icon-header">
            <a href = "/"id = "icon-cel" > <img src = "img/Human.png" name= "logo"> </a>
            <a href = "/" id = "icon-destok"> <img src = "img/logo.jpg" name= "logo"> </a>
        </div>
        
        
        <nav class = "personal"> 
            <a href="#"><img src="img/Lupa.png"></a>                 
            <a href="/carrito"><img src ="img/Tienda.png"></a>  
            <a id = "menuHamburguesa"><img src="img/Menu.png"></a>
            <a id = "usuario" href="/login"><img src = "img/Usuario.png"></a> 
            <nav class = "menu-productos-expand"> 
                <ul>
                    <li><a> Relojes </a></li>
                    <li><a> Billeteras </a></li>
                    <li><a> Accesorios</a></li>
                    <li><a> Otros </a></li>
                </ul> 
            </nav>                 
        </nav>    
        
        </div>
        
    </header>
    <main>
        <section class="bannerShop">
            <img class="fotoBanner" src="/img/FotoDePruebaCopia.jpg">
            <a class="botonShop" href="#">Tienda</a>
        </section>
        <h2>Categorias</h2>
        <section class="bannerCategorias">
            <article class="categorias">
                <img class="imagenCategoria" src="/img/Abaco Black S.jpg">
                <h3>Relojes</h3>
                <p>Diseñado para usted</p>
            </article>
            <article class="categorias" id = "segundaCategoria">
                <img class="imagenCategoria"  src="/img/Abaco Black S.jpg">
                <h3>Relojes</h3>
                <p>Diseñado para usted</p>
            </article>
            <button class="left">
                < </button>
                    <button class="right">></button>
        </section>
        <section class="bannerHistoria">
            <div>
                <h3>Nuestra Misión</h3>
                <p>We craft premium lifestyle accessories for those who never take shortcuts.</p>
            </div>
            <img class="fotoBannerHistoria" src="/img/banerHistoria.jpg">
        </section>
        <h2 class="tituloProductosDestacados">Productos Destacados</h2>
        <section class="bannerProductosDestacados">
            <article class="productoDestacado">
                <a href="/producto"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado" id = "producto2">
                <a href="/producto"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado" id="producto3">
                <a href="/producto"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            
            <button class="left">
                < </button>
                    <button class="right">></button>
        </section>
        <h2 class="ubicacion">Ubicaciones</h2>
        <section class="bannerUbicaciones">
            <article class="ubicaciones">
                <img class="ubicacionLocal" src="/img/Ubicacion Ramos Mejia.PNG">
                <div>
                    <h3>Ramos Mejia - Buenos Aires</h3>
                    <a href="https://goo.gl/maps/mA13fuFm8AaM12nNA">Av. Gral San Martin 1080</a>
                    <p>Horarios</p>
                    <p>Numero Telefono</p>
                </div>
            </article>
            <article class="ubicaciones">
                <img class="ubicacionLocal" src="/img/Ubicacion RioIV.PNG">
                <div>
                    <h3>Rio IV - Cordoba</h3>
                    <a href="https://goo.gl/maps/GdKM5PqhWSwwQE7m9">Av. Amadeo Sabattini 2043</a>
                    <p>Horarios</p>
                    <p>Numero Telefono</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section id="infoEmpresaFoot" class = "footer">
            <h5>Human Accesorios</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo distinctio amet debitis, minus facere perspiciatis voluptates ipsam ab alias? Perspiciatis minus maiores repellat cum facere ut quaerat vero a!</p>
        </section>
        <section id="registrateFoot" class = "footer">
            <h5>Registrate para recibir diferentes veneficios</h5>
            <a href="/register"> REGISTRATE </a>
            <h5> Si ya tiene una cuenta ingresa</h5>
            <a href="/login">INGRESAR</a>
        </section>
        <section id="redesSocialesFoot" class = "footer">
            <h5>Unete a nuestras redes sociales para no perderte de ninguna novedad</h5>
                <div>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="instagram"> Intagram</a></div>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="">Facebook</a>
                </div>
                <div>
                    <i class="fa-brands fa-twitter"></i>
                    <a href="">Twitter</a>
                </div> 
        </section>

        <p id = "copyright"> Copyright © 2021-2022 Human Accesorios </p>

    </footer>
</body>

</html>