<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Accesorios</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div class="divSuperiorHead">
            <img class="logo" src="/images/Human Nombre.png" alt="logo">
            <div class="buscadores">
                <a href="#"><i id="lupa" class="fa-solid fa-magnifying-glass"></i></a>
                <a href="#"><i id="carrito" class="fa-solid fa-cart-shopping"></i></a>
                <a href="#"><i id="barrita" class="fa-solid fa-bars"></i></a>
            </div>
        </div>
    </header>
    <main>
        <section class="bannerShop">
            <img class="fotoBanner" src="/images/Foto de prueba copia.jpg">
            <a class="botonShop" href="#">Tienda</a>
        </section>
        <h2 class="tituloCategoria">Explore the collection</h2>
        <section class="bannerCategorias">
            <img class="imagenCategoria" src="/images/Abaco Black S.jpg">
            <button class="left"><</button>
            <button class="right">></button>
        </section>
        <h2 class="tituloProductosDestacados">Productos Destacados</h2>
        <section class="bannerProductosDestacados">
            <img class="imagenProductoDestacado" src="/images/Onix S.jpg">
            <img class="imagenProductoDestacado" src="/images/Kairos Black S.jpg">
            <button class="left"><</button>
            <button class="right">></button>
        </section>
    </main>    
</body>
</html>