<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Human</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/6157b502e6.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styleHeader.css">
        <link rel="stylesheet" href="css/styleLogin.css">
       
        

        
    </head>
    <body>
        <header>
            <nav class = "menu-productos"> 
                <i class="fa-solid fa-bars"></i>
                <div class="menu-productos-expand">
                    <ul>
                        <li><a> relojes </a></li>
                        <li><a> pulseras </a></li>
                        <li><a> billeteras </a></li>
                        <li><a> otrs </a></li>
                    </ul> 
                </div>
            </nav>
            <div id = "icon-header">
                <a href = "/"id = "icon-cel" > <img src = "img/Human.png" name= "logo"> </a>
                <a href = "/" id = "icon-destok"> <img src = "img/logo.jpg" name= "logo"> </a>
            </div>
            
            <div class = "personal">
                <nav> 
                   <a href="/login"><i class="fa-solid fa-user"></i></a>
                    <a href="/"><i class="fa-solid fa-cart-shopping"></i> </a>
                </nav>
            </div>
            
        </header>
        <main>
            <div class="Inicio">
                <h3>Iniciar sesión</h3>
            </div>

            <form action="/" method="POST">
                <input class="Usuario" type="text" name="user" placeholder="Nombre de Usuario">
                <br>
                <br>
                <input class="Usuario" type="password" name="pass" placeholder="Elegí tu contraseña">
                <br>
                <br>
                <input type="radio" name="profile">
                <label for="buy">Recuérdame</label>
                <br>
                <br>
                <input class="botonRegistro" href="/Home.html" type="submit" value="Registrarme">
                <br>
            
                <br>
                <input class="botonContraseña" href=" " type="submit" value="¿Olvidaste tu contraseña?">
            </form>
        </main>


        <footer>
        </footer>
    </body>
</html>