<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Human</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styleLogin.css">
    </head>
    <body>
        <header>
            <div class="topbar">
                
                <p>Hasta 12 cuotas sin interés</p>

                <div> 
                    <img src="/imagenes/Human.jpg " alt="Logo de Human" class="logo">
                 </div>

            <div>
             <i class="fa fa-bars burger"></i>
            </div>
                    <div>   
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            <nav>
                <h1> Detalles de la cuenta</h1> 

            </nav>
         
        </header>
        <div class="Inicio">
            <h3>Iniciar sesión</h3>
        </div>
        <main>
            <form action="/" method="POST">
                <input class="Usuario" type="text" name="user" placeholder="Nombre de Usuario">
                <br>
                <br>
                <input class="Usuario" type="password" name="pass" placeholder="Elegí tu contraseña">
                <br>
                <br>
                <input type="radio" name="profile">
                <label for="buy">Recuérdame</label>
                <br>
                <br>
                <input class="botonRegistro" href="/Home.html" type="submit" value="Registrarme">
                <br>
            
                <br>
                <input class="botonContraseña" href=" " type="submit" value="¿Olvidaste tu contraseña?">
            </form>
        </main>


        <footer>
           <p> diseño pie de pagina </p> 
        </footer>
    </body>
</html>