<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/modificarproducto.css">
</head>
<body>
    <main>
        <img src = "/img/Kairos Black S.jpg">
        <div class = "descripcion">
            <h2>Descripcion</h2>
            <ul>
                <li>diametro</li>
                <li>alto</li>
                <li>material</li>
                <li>aguja</li>
                <li>correa</li>
                <li>ancho de correa</li>
                <li>correa intercambiable</li>
                <li>Precio:</li>
            </ul>
        </div>
        <div id = botonesUno>
            <button type="button" class = "button"> sin stock</button> 
            <button type="button" class = "button"> eliminar producto</button>
        </div>
        <form action="/" method="post">
            <label for="diametro">diametro:</label>
            <input type="text">
            
            <label for="alto">alto:</label>
            <input type="text">

            <label for="material">material:</label>
            <input type="text">

            <label for="agujas">agujas</label>
            <input type="text">

            <label for="correa">corre</label>
            <input type="text">

            <label for="anchoCorrea">anchoCorrea</label>
            <input type="text">

            <label for="correaIntercambiable">correa intercambiable</label>
            <input type="text">

            <label for="precio">precio</label>
            <input type="text">

            <div id = botoneDos>
                <button type= "reset" class= "buttom">resetear</button>
                <button type= "submit"  class= "buttom">enviar</button> 
            </div>
        </form>
    </main>
</body>