<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Accesorios</title>
    <!-- tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Libre+Baskerville:ital@1&family=Oswald:wght@200&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- estiulos propios-->
    <link rel="stylesheet" href="css/styleHeader.css">
    <link rel="stylesheet" href="css/styleFooter.css">
    <link rel="stylesheet" href="css/styleProduct.css">
</head>
<body>
    <header>
        <nav class = "menu-productos"> 
            <i class="fa-solid fa-bars"></i>
            <div class="menu-productos-expand">
                <ul>
                    <li><a> relojes </a></li>
                    <li><a> pulseras </a></li>
                    <li><a> billeteras </a></li>
                    <li><a> otros </a></li>
                </ul> 
            </div>
        </nav>
        <div id = "icon-header">
            <a href = "/"id = "icon-cel" > <img src = "img/Human.png" name= "logo"> </a>
            <a href = "/" id = "icon-destok"> <img src = "img/logo.jpg" name= "logo"> </a>
        </div>
        
        <div class = "personal">
            <nav> 
               <a href="/login"><i class="fa-solid fa-user"></i></a>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> </a>
            </nav>
        </div>
        
    </header>
    <main>
        <img src = "img/Producto.png"name= "logo" id="imagenProducto">
        
        <div class = "imagenes-descriptivas">
            <img src = "img/Producto.png"name= "logo">
            <img src = "img/Producto.png"name= "logo">
            <img src = "img/Producto.png"name= "logo">
            <img src = "img/Producto.png"name= "logo">
        </div>

        <div class="informacion">
            <h1> reloj X3433</h1>
            <p id ="infoProducto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita maxime eius alias accusantium velit natus voluptas fuga doloremque! Vitae earum rerum totam odit recusandae alias natus dolorum corporis eum voluptate.</p>
            <div class = "descripcion">
                <h2>Descripcion</h2>
                <ul>
                    <li>diametro</li>
                    <li>alto</li>
                    <li>material</li>
                    <li>sumergible</li>
                    <li>aguja</li>
                    <li>correa</li>
                    <li>ancho de correa</li>
                    <li>correa intercambiable</li>
                </ul>
            </div>
            
            <div class = "formas-de-pago descripcion" >
                <h2>Forma de pago</h2>
                <ul>
                    <li>cuotas</li>
                    <li>targetas</li>
                    <li>efectivo</li>
                </ul>
            </div>

            <div class = "garantia descripcion">
                <h2>Garantia</h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsa cumque, libero sapiente molestias praesentium est saepe minima blanditiis repellendus iste, quas distinctio illo aspernatur? Hic voluptatibus temporibus placeat quis.</p>
            </div>

            <div class="envio descripcion">
                <h2> Forma de envio</h2>
                <ul>
                    <li>interior</li>
                    <li>caba</li>
                    <li>local</li>
                </ul>
            </div>
            <div id = "comprarProducto">
                <p> Precio : $XXXX</p>
                <button type="button" class="carrito"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
        
        <div class="productos-recomendados">
            <section> 
                <a href="#"><img src = "img/Producto.png"name= "logo"></a>
                <div class="descripcion-recomendado">
                    <h3>nombre del producto</h3>
                    <p>descripcion</p>
                </div>
            </section>

            <section> 
                <a href="#"><img src = "img/Producto.png"name= "logo"></a>
                <div class="descripcion-recomendado">
                    <h3>nombre del producto</h3>
                    <p>descripcion</p>
                </div>
            </section>

            <section id = "tercer-Producto"> 
                <a href="#"><img src = "img/Producto.png"name= "logo"></a>
                <div class="descripcion-recomendado">
                    <h3>nombre del producto</h3>
                    <p>descripcion</p>
                </div>
            </section>

        </div>
        <div class="baners">
            <img src="img/350x150.png">
        </div>
    </main>
    <footer>
        <section id="infoEmpresaFoot">
            <h4>Human Accesorios</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo distinctio amet debitis, minus facere perspiciatis voluptates ipsam ab alias? Perspiciatis minus maiores repellat cum facere ut quaerat vero a!</p>
        </section>
        <section id="registrateFoot">
            <h5>Registrate para recibir diferentes veneficios</h5>
            <a href="/register"> REGISTRATE </a>
            <h5> Si ya tiene una cuenta ingresa</h5>
            <a href="/login">INGRESAR</a>
        </section>
        <section id="redesSocialesFoot">
            <h5>Unete a nuestras redes sociales para no perderte de ninguna novedad</h5>
                <div>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="instagram"> Intagram</a></div>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="">Facebook</a>
                </div>
                <div>
                    <i class="fa-brands fa-twitter"></i>
                    <a href="">Twitter</a>
                </div> 
        </section>

        <p> Copyright © 2021-2022 Human Accesorios </p>

    </footer>
    
</body>
</html>