<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    
    <link rel="stylesheet" type="text/css" href="/css/styleProductGeneric.css" media="screen">

    
</head>
<body>
    <%-include('./partials/header') %>
    <main>
        <div class="Opciones">
            <img src ="/img/350x150.png">
            <select class = "button">
                <option value="masNuevo">Del mas nuevo al mas viejo</option>
                <option value="masViejo">Del mas viejo al mas nuevo</option>
                <option value="masBarato">El mas caro</option>
                <option value="masCaro">El mas barato</option>
                <option value="destacados"> Destacados</option>
            </select>
        </div>
        <div class="MainProductos">
            <article class="productoDestacado">
                <a href="/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/4"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
        </div>
        

    </main>
    <%-include('./partials/footer') %>
</body>
</html>