<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Accesorios</title>
    <!-- tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Libre+Baskerville:ital@1&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- estiulos propios-->
    <link rel="stylesheet" href="css/styleFooter.css">
    <link rel="stylesheet" href="css/styleHeader.css">
    <link rel="stylesheet" href="css/styleProductGeneric.css">
    
</head>
<body>
    <header>
        <div id = "icon-header">
            <a href = "/"id = "icon-cel" > <img src = "img/Human.png" name= "logo"> </a>
            <a href = "/" id = "icon-destok"> <img src = "img/logo.jpg" name= "logo"> </a>
        </div>
        
        
        <nav class = "personal"> 
            <a href="#"><img src="img/Lupa.png"></a>                 
            <a href="/carrito"><img src ="img/Tienda.png"></a>  
            <a id = "menuHamburguesa"><img src="img/Menu.png"></a>
            <a id = "usuario" href="/login"><img src = "img/Usuario.png"></a> 
            <nav class = "menu-productos-expand"> 
                <ul>
                    <li><a> Relojes </a></li>
                    <li><a> Billeteras </a></li>
                    <li><a> Accesorios</a></li>
                    <li><a> Otros </a></li>
                </ul> 
            </nav>                 
        </nav>    
        
        </div>
        
    </header>
    <main>
        <div class="Opciones">
            <img src ="/img/350x150.png">
            <select>
                <option value="masNuevo">Del mas nuevo al mas viejo</option>
                <option value="masViejo">Del mas viejo al mas nuevo</option>
                <option value="masBarato">El mas caro</option>
                <option value="masCaro">El mas barato</option>
                <option value="destacados"> Destacados</option>
            </select>
        </div>
        <div class="MainProductos">
            <article class="productoDestacado">
                <a href="/productoEspesifico"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/productoEspesifico"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/productoEspesifico"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/productoEspesifico"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/productoEspesifico"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/productoEspesifico"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/productoEspesifico"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
            <article class="productoDestacado">
                <a href="/productoEspesifico"><img class="imagenProductoDestacado" src="/img/Onix S.jpg"></a>
                <h3>Onix</h3>
                <p>Silver</p>
                <h4>$1700</h4>
            </article>
        </div>
        

    </main>
    <footer>
        <section id="infoEmpresaFoot" class = "footer">
            <h5>Human Accesorios</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo distinctio amet debitis, minus facere perspiciatis voluptates ipsam ab alias? Perspiciatis minus maiores repellat cum facere ut quaerat vero a!</p>
        </section>
        <section id="registrateFoot" class = "footer">
            <h5>Registrate para recibir diferentes veneficios</h5>
            <a href="/register"> REGISTRATE </a>
            <h5> Si ya tiene una cuenta ingresa</h5>
            <a href="/login">INGRESAR</a>
        </section>
        <section id="redesSocialesFoot" class = "footer">
            <h5>Unete a nuestras redes sociales para no perderte de ninguna novedad</h5>
                <div>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="instagram"> Intagram</a></div>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="">Facebook</a>
                </div>
                <div>
                    <i class="fa-brands fa-twitter"></i>
                    <a href="">Twitter</a>
                </div> 
        </section>

        <p id = "copyright"> Copyright © 2021-2022 Human Accesorios </p>

    </footer>
</body>
</html>