<header>
    <div id = "icon-header">
        <a href = "/login" id = "icon-destok"> <img src = "" name= "logo"> </a>
    </div>
        <nav class = "mainNavBar"> 
            <ul>
                <a href="/"> Vista Turnos </a>
                <a href="/listadoDeTurnos"> Listado De Turnos</a>
                <a href="/login"> Login </a>
            </ul> 
        </nav>                 
</header>