<footer>
    <img src = "/img/Human.png">

    <section id="registrateFoot" class = "footer">
        <a href="/user/register" class = "button"> REGISTRATE </a>
        <a href="/user/login" class = "button">INGRESAR</a>
    </section>

    <section id="redesSocialesFoot" class = "footer">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </section>

    <p id = "copyright"> © 2021-2022 Human Accesorios </p>

</footer> 