<header>
    <div id = "icon-header">
        <a href = "/"id = "icon-cel" > <img src = "/img/Human.png" name= "logo"> </a>
        <a href = "/" id = "icon-destok"> <img src = "/img/logo.jpg" name= "logo"> </a>
    </div>
    
    <nav class = "personal"> 
        <a href="#"><img src="/img/Lupa.png"></a>                 
        <a href="/carrito"><img src ="/img/Tienda.png"></a>  
        <a id = "menuHamburguesa"><img src="/img/Menu.png"></a>
        <a id = "usuario" href="/user/login"><img src = "/img/Usuario.png"></a>
        <div class="MenuPerson">
            <h2> Bienvenido: <%= locals.user ? user.nombre : 'usuario' %> </h2>
            <div id="botonesPerson"> 
                <button class="button"> boton de favoritos </button>
                <button class="button"> boton de ultima compra </button>
            </div>
            
        </div> 
        <nav class = "menu-productos-expand"> 
            <ul>
                <li><a href="/product/categoria/1"> Relojes </a></li>
                <li><a href="/product/categoria/2"> Billeteras </a></li>
                <li><a href="/product/categoria/3"> Pulseras </a></li>
                <li><a href="/product/categoria/4"> Otros </a></li>
            </ul> 
        </nav>
                         
    </nav>
</header>