<header>
    <div id = "icon-header">
        <a href = "/"id = "icon-cel" > <img src = "img/Human.png" name= "logo"> </a>
        <a href = "/" id = "icon-destok"> <img src = "img/logo.jpg" name= "logo"> </a>
    </div>
    
    <nav class = "personal"> 
        <a href="#"><img src="img/Lupa.png"></a>                 
        <a href="/carrito"><img src ="img/Tienda.png"></a>  
        <a id = "menuHamburguesa"><img src="img/Menu.png"></a>
        <a id = "usuario" href="/user/login"><img src = "img/Usuario.png"></a> 
        <nav class = "menu-productos-expand"> 
            <ul>
                <li><a href="/producto"> Relojes </a></li>
                <li><a href="/producto"> Billeteras </a></li>
                <li><a href="/producto"> Accesorios</a></li>
                <li><a href="/producto"> Otros </a></li>
            </ul> 
        </nav>                 
    </nav> 
</header>